:root {
  --background: #ffffff;
  --foreground: #000000;
  --devborder: none;
  /*--devborder: solid;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #20081c;
    --foreground: #ffffff;
  }
  h1,h2,h3,h4, p, button {
    filter: invert(100%);
  }
  .items div {
    filter:invert(100%);
  }
}

ul {
  list-style-type: none;
  margin: 5px;
  z-index: -1;
}

.theater li {
  margin: 1px;
  z-index: -1;
}

.row li {
  display: inline-block;
  margin: 1px;
  z-index: -1;
}

.topo {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  height:100px;

  border-style: var(--devborder);
  border-width: 1px;
}

.centro {
  display:flex;
  align-items: center;
  justify-content: center;

  border-style: var(--devborder);
  border-width: 1px;
  z-index: 1;
}

.info {
  max-width: 30%;

  border-style: var(--devborder);
  border-width: 1px;
}

.nome {
  margin:1px;

  border-style: var(--devborder);
  border-width: 1px;
}

.desc {
  margin:1px;

  border-style: var(--devborder);
  border-width: 1px;
  z-index: 1;
}

.theater {
  display: flex;
  flex-direction: column;
  column-gap: 2px;

  border-style: var(--devborder);
  border-width: 1px;
  z-index: 1;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.embaixo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
  z-index: 1;
}

.items {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: 1;
}

h4 {
  font-weight: 100;
  font-size: small;
  z-index: 1;
}

.available {
  border-radius: 100%;
  background-color: #000000;
  padding:5px;
  z-index: 1;
}

.selected {
  border-radius: 100%;
  background-color: #ff2c6c;
  padding:5px;
  z-index: 1;
}

.unavailable {
  border-radius: 100%;
  background-color: #a1a1a1;
  padding:5px;
  z-index: 10;
}

.savailable {
  border-radius: 7px;
  padding-bottom: 5px;
  border-style: none;
  background-color: #000000;
  padding:15px;
  z-index: 10;
}

.sselected {
  background-color: #ff2c6c;
  border-radius: 7px;
  border-style: none;
  padding-bottom: 5px;
  padding:15px;
  z-index: 10;
}

.sunavailable {
  background-color: #a1a1a1;
  border-radius: 7px;
  border-style: none;
  padding-bottom: 5px;
  padding:15px;
  z-index: 10;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 65px;
  z-index: 1;
}

.seat {
  margin: 2px;
  color: #888888;
  z-index: 1;
}

.screen {
  background-color: gray;
  margin-left: 25px;
  padding: 10px;
  padding-top: 5px;
  padding-left: 60%;
  padding-right: 0%;
  z-index: 1;
}

.center h4 {
  margin-left: 25px;
}

.fundo {
  margin-top: 30px;
  display:flex;
  align-items: center;
  justify-content: center;

  border-style: var(--devborder);
  border-width: 1px;
  overflow:visible;
  z-index: 1;
}

.titulo {
  margin:0px;

  border-style: var(--devborder);
  border-width: 1px;
  z-index: 1;
}

.horario {
  font-weight: 100;
  margin:0px;

  border-style: var(--devborder);
  border-width: 1px;
  z-index: 1;
}

.price {
  font-weight: 100;
  margin:0px;
  margin-bottom: 10px;
}

body {
  background-color: var(--background);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.theater {
  z-index: 1;
}

.row {
  z-index: 1;
}

ul {
  z-index: 1;
}

.botao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 80px;
  background-color: #ff2c6c;
  box-sizing: border-box;
  border-radius: 15px;
  border-style: none;
}

.thintext {
  font-weight: 100;
  margin:0px;
  z-index: 1;
}

button {
  z-index:10;
}

@media (max-width: 600px) and (orientation: portrait){
  .info {
    display: none;
  }
  .page {
    display:flex;
    flex-direction: column;
  }
  .embaixo {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin: 5px;
    gap: 5px 5px;
  }
  .centro {
    margin-bottom: 5px;
  }
  .botao {
    margin: 5px;
  }
  .items {
    margin: 5px;
  }
  button {
    z-index: 15;
  }
}